body{
  background-color: rgb(75, 98, 167);
}
.social-links {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
  color:  rgb(57, 69, 109);
}
.left-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
  margin: 0;
}
.right-links {
  margin-left: auto; 
  display: flex;
  gap: 20px;
}
.social-links a {
  text-decoration: none;
  font-size: 24px;
}
.center-link {
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: rgb(57, 69, 109);
  margin-right: 10px;
}
